*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    padding: 25px;
    margin: 5vh;
}

.h1{
    width: 100%;
    border-bottom: 1px solid;
}

.operaciones{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calc{
    display: flex;
    padding: 25px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.operacion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

button{
    border: none;
    background-color: inherit;
    color: red;
    padding: 15px;
    cursor: pointer;
}



